.chip {
  font-size: 0.7rem;
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
  text-transform: capitalize;
}
.chip1s {
  font-size: 1rem;
  color:black;
  /* text-justify: auto; */
  font-family: 'Open Sans', sans-serif;

  line-height:normal;
  padding: 0.3rem 0.5rem;
  font-weight: 100;
  margin: auto;
   width: 100%;
   box-sizing:content-box;
}
